body  {
margin : 10px auto;
width : 570px;
font : 75% 120% Arial, Helvetica, sans-serif;
}
.acordion2{
width : 480px;
border-bottom : solid 1px #c4c4c4;
}
.acordion2 h3{
background: #e9e7e7 url(imagens/seta.png) no-repeat right -51px;
padding:7px 15px;
margin:0;
font:bold 120% 100% Arial, Helvetica, sans-serif;
border:solid 1px #c4c4c4;
border-bottom:none;
cursor :pointer;
}
.acordion2 h3:hover{
background-color : #334455;
}
.acordion2 h3.active{
background-position :rigth 5px;
}
.acordion2 p{
background:#f7f7f7;
margin : 0;
width : 10px 15px 20px;

border-left:solid 1px #c4c4c4;
border-right:solid 1px #c4c4c4;
display:none;

}



body  {
margin : 10px auto;
width : 570px;
font : 75% 120% Arial, Helvetica, sans-serif;
}
.acordion1{
width : 480px;
border-bottom : solid 1px #c4c4c4;
}
.acordion1 h3{
background: #e9e7e7 url(imagens/seta.png) no-repeat right -51px;
padding:7px 15px;
margin:0;
font:bold 120% 100% Arial, Helvetica, sans-serif;
border:solid 1px #c4c4c4;
border-bottom:none;
cursor :pointer;
}
.acordion1 h3:hover{
background-color : #334455;
}
.acordion1 h3.active{
background-position :rigth 5px;
}
.acordion1 p{
background:#f7f7f7;
margin : 0;
width : 10px 15px 20px;

border-left:solid 1px #c4c4c4;
border-right:solid 1px #c4c4c4;
display:none;

}